body{
    color: white;
    background-color: #002B70;
}
a{
    color: white;
}
nav figure svg{
    fill: #fff;
    display: block;
}
nav a{
    position: fixed;
}
nav a:first-child{
    max-width: 130px;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
}
nav a:nth-child(2){
    left: 36px;
    bottom: 36px;
}
nav a:nth-child(3){
    right: 36px;
    bottom: 36px;
}

section{
    min-height: 100vh;
}